{% load i18n %}

  <div>
      <table class="table table-striped">
        {% for b in cart %}
          <tr>
            <td>
                <img src="{{ MEDIA_URL }}{{ b.item.image }}" width="100px" />
            </td>
            <td>
                <p><h3>{{ b.item.name }}</h3></p>
            </td>
            <td>
                <button class="btn btn-danger cs-cart-remove" href="#" data-id="{{ b.id }}" data-toggle="modal" type="button">
                    <i class="glyphicon glyphicon-remove icon-white"></i>
                </button>
            </td>
          </tr>
        {% endfor %}
      </table>
  </div>
