{% load i18n %}
<div class="row">
  {% for cat in categories %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
      {% if cat.id == category.id %}
        <img class="img-responsive" src="{{ MEDIA_URL }}{{ cat.image_hover }}">
      {% else %}
        <a href="{% url 'showcase_cat' cat.id %}">
          <img class="cc-cat-image img-responsive" src="{{ MEDIA_URL }}{{ cat.image }}" data-hover-src="{{ MEDIA_URL }}{{ cat.image_hover }}">
        </a>
      {% endif %}
    </div>
  {% endfor %}
</div>

<div class="row cc-fas">
  {% for fas in fashions %}
    <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
     {% if fas.id == fashion.id %}
        <img class="img-responsive" src="{{ MEDIA_URL }}{{ fas.image_hover }}">
      {% else %}
        <a href="{% url 'showcase_cat_fas' category.id fas.id %}">
          <img class="cc-cat-image img-responsive" src="{{ MEDIA_URL }}{{ fas.image }}" data-hover-src="{{ MEDIA_URL }}{{ fas.image_hover }}">
        </a>
      {% endif %}
    </div>
  {% endfor %}
</div>
