{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block title %}
  {% trans ' Orders' %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div class="cs-elephant-name">
        <h1>
          {% trans ' The table of orders' %}
        </h1>
      </div>
    </div>
  </div>

  <div class="row cs-order-detail-position">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <form class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <select class="select" id="cs-order-select">
            {% for entry in status_select %}
              <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
          </select>
        </form>
        <a class="btn btn-info" id="cs-order-select-btn">{% trans 'Select orders' %}</a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 cs-orders-name">
        <h4>{{ status_name }}</h4>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cs-order-tab-header">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">{% trans 'Number' %}</div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{% trans 'Name' %}</div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{% trans 'Date' %}</div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">{% trans 'Status' %}</div>
    </div>
  </div>
  {% for entry in tab_orders %}
    <div class="row">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><h3>
          <a class="cs-order-position" data-id="{{ entry.id }}" title="{% trans 'Number of order' %}"
             href="#">{{ entry.id }}</a>
        </h3></div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><h5>{{ entry.name}}</h5></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><h5>{{ entry.added}}</h5></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><h5>{{ entry.status_name}}</h5></div>
        <div id="cs-order-position-{{ entry.id }}"></div>
      </div>
    </div>
  {% endfor %}


{% endblock %}
