{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans topic.title %}
{% endblock %}

{% block content %}

  <div class="row">

  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        {% for entry in items %}

             <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-4">
                {% if entry.get_amount > 0 %}
                    <a href="/item_details/{{ entry.id }}/" title="{% trans 'Show details' %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ entry.small_image }}"  alt="Card image cap">
                    </a>
                {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ entry.small_image }}"  alt="Card image cap">
                {% endif %}
                <div class="card-block">
                    <h4 class="card-title">{{ entry.name }}</h4>
                    <p class="card-text">{{ entry.details|safe }}</p>
                </div>
             </div>

        {% endfor %}

    </div>
  </div>

{% endblock %}
