{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{ stock.name }}
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-4 cc-card">
            {% if entry.image %}<img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ entry.image }}">{% endif %}
            <div class="card-block">
              <h4 class="card-title">{{ entry.name }}</h4>
              <p class="card-text">{{ entry.action_begin }} - {{ entry.action_end }}</p>
              <p class="card-text">{{ entry.description|safe }}</p>
            </div>
          </div>

      </div>
    </div>


{% endblock %}
