{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans topic.title %}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cs-item-title">
      <h2>{{ topic.title }}</h2>
    </div>
  </div>

  {% if topic.video %}
      <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cs-item-title">
          {{ topic.video|safe }}
        </div>
      </div>
  {% endif %}

  {% if topic.image %}
      <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <div class="thumbnail cs-info-photo">
            <img crop="center" src="{{ MEDIA_URL}}{{ topic.image }}">
          </div>
        </div>
      </div>
  {% endif %}

  <div class="row cs-info">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      {{ topic.info|safe }}
      {% if map %}<div id="map_canvas"></div>{% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <ul class="thumbnails">
        {% for entry in stores %}
          <li class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="thumbnail cs-showcase stores" id="stores-{{ forloop.counter }}">
                <div class="cs-elephant-name"><h3>{{ entry.name }}</h3></div>
                <a href="/stores/{{ entry.id }}/" title="{% trans 'Show details' %}">
                  <img class="cs-stores-image" crop="center" src="{{ MEDIA_URL}}{{ entry.image }}">
                </a>
                <div class="cs-elephant-price cs-bla">{{ entry.description|safe }}</div>
              </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
