{% extends 'base_mod.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Items balance' %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-right">
      <label>
        <div class="pull-right">
          <input type="checkbox" name="cc-arrival-cb" value="1" id="cc-arrival-cb" checked>   {% trans 'Arrival' %}</div>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">
      <div class="pull-right"><a href="{% url 'export_balance' %}">{% trans 'Download' %}</a></div>
    </div>
  </div>
  <div class="row cc-table-margin">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <table id="cs-balances" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>{% trans 'Category' %}</th>
            <th>{% trans 'Fashion' %}</th>
            <th>{% trans 'Item' %}</th>
            <th>{% trans 'Sizes' %}</th>
            <th>{% trans 'Balance' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>
                {{ item.fashions.categories.name }}
              </td>
              <td>
                {{ item.fashions.name }}
              </td>
              <td>
                {{ item.name }}
              </td>
              <td>
                {% for balance in item.balance_set.all %}
                  <div class="cc-table-margin"><label for="cc-sizes-{{ balance.id }}">{{ balance.size.name }}</label></div>
                {% endfor %}
              </td>
              <td>
                {% for balance in item.balance_set.all %}
                  <div class="cc-table-margin">
                    <input id="cc-sizes-{{ balance.id }}" class="form-control" type="text" value="{{ balance.amount }}">
                    <button class="btn cc-save-balance" data-balance-id="{{ balance.id }}">{% trans 'Update' %}</button>
                  </div>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>{% trans 'Category' %}</td>
            <td>{% trans 'Fashion' %}</td>
            <td>{% trans 'Item' %}</td>
            <td>{% trans 'Sizes' %}</td>
            <td>{% trans 'Balance' %}</td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>

{% endblock %}
