{% load i18n %}

{{ order.name }}<br />
{{ order.phone }}<br />
{{ order.get_total_price }} {% trans 'UAH' %}<br />

{% if order.discount_promo or order.discount_stocks %}
    {% trans 'Discount:' %}
    {% if order.discount_promo %}
        {{ order.discount_promo }} {% trans 'percent.' %}
    {% enfif %}
    {% if order.discount_stocks %}
        {{ order.discount_stocks }} {% trans 'UAH.' %}
    {% enfif %}
    <br />
{% enfif %}

{% for item in order.orderitems_set.all %}
    <hr>{{ item.balance.item.fashions.categories.name }} - {{ item.balance.item.fashions.name }} - <b>{{ item.balance.item.name }}</b> - {{ item.balance.item.description }} - {{ item.balance.size }} - <b>{{ item.amount }}</b><br />
{% endfor %}
