{% load i18n %}
{% if order.paid %}
  <span class="icon-checkmark cc-icon-green"></span>
{% else %}
  <span class="icon-cross cc-icon-red"></span>
{% endif %}

{% if order.paid %}
  <a class="cc-payment-link" href="#" data-toggle="modal" data-target="#cc-order-modal" data-order-id="{{ order.id }}">
    {% trans order.get_payment_method_display %} - {{ order.get_total_paid }} {% trans 'UAH' %}<br/>
  </a>
{% else %}
  {% trans order.get_payment_method_display %} - {{ order.get_total_paid }} {% trans 'UAH' %}<br/>
{% endif %}

{% if order.liqpay_wait_accept %}
  {% trans 'Processing payment...' %}
{% endif %}

{% if not order.paid %}
  <a id="cc-payment-link" href="#" data-toggle="modal" data-target="#cc-order-modal" data-order-id="{{ order.id }}">
    <span class="btn btn-primary">{% trans 'Payment' %}</span>
  </a>
{% endif %}
