{% extends 'base_mod.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans 'Orders' %}
{% endblock %}

{% block content %}
  <div class="row cc-table-margin">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {% crispy filter_form filter_form.helper %}
    </div>
    <a href="{% url 'create_order' %}">{% trans 'Create order' %}</a>
  </div>
  <div class="row cc-table-margin">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <table id="cs-balances" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>{% trans 'Order' %}</th>
            <th>{% trans 'Items' %}</th>
            <th>{% trans 'Edit' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr id="cc-order-{{ order.id }}">
              <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <b>{{ order.name }}</b><br/>
                <b>{{ order.phone }}</b><br/>
                {{ order.get_delivery_display }}<br/>
                {{ order.get_payment_display }}<br/>
                {{ order.get_status_display }}<br/>
                {{ order.ttn }}<br/>
                {{ order.comment }}<br/>
              </td>
              <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{ order.get_total_price }} {% trans 'UAH' %}<br/>
                {% for item in order.orderitems_set.all %}
                  {{ item.balance.item }} - {{ item.balance.size }} - {{ item.amount }}<br/>
                {% endfor %}
              </td>
              <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <a class="btn btn-primary" href="{% url 'manage_order' order.id %}">{% trans 'Edit' %}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>{% trans 'Order' %}</td>
            <td>{% trans 'Items' %}</td>
            <td>{% trans 'Edit' %}</td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>

{% endblock %}
