{% extends 'base_mod.html' %}
{% load i18n %}

{% block title %}
  {% trans 'End of goods' %}
{% endblock %}

{% block content %}

  <div class="row cc-table-margin">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <table id="cs-balances" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>{% trans 'End date' %}</th>
            <th>{% trans 'Category' %}</th>
            <th>{% trans 'Fashion' %}</th>
            <th>{% trans 'Item' %}</th>
            <th>{% trans 'Sizes' %}</th>
            <th>{% trans 'Balance' %}</th>
            <th>{% trans 'Sales' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for balance in balances %}
            <tr>
              <td>
                {{ balance.ld|date }}
              </td>
              <td>
                {{ balance.item.fashions.categories.name }}
              </td>
              <td>
                {{ balance.item.fashions.name }}
              </td>
              <td>
                {{ balance.item.name }}</br>{{ balance.item.description|safe }}
              </td>
              <td>
                {{ balance.size.name }}
              </td>
              <td>
                {{ balance.amount }}
              </td>
              <td>
                {{ balance.sl }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>{% trans 'End date' %}</th>
            <th>{% trans 'Category' %}</th>
            <th>{% trans 'Fashion' %}</th>
            <th>{% trans 'Item' %}</th>
            <th>{% trans 'Sizes' %}</th>
            <th>{% trans 'Balance' %}</th>
            <th>{% trans 'Sales' %}</th>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>

{% endblock %}
