{% load i18n %}
{% load elephants %}
<div>
  <table class="table table-striped">
    {% for i in cart_items %}
      <tr>
        <td class="hidden-xs">
          <img class="img-circle" src="/media/{{ i.item.image_small }}" width="100px" />
        </td>
        <td>
          <p class="cc-cart-title">{{ i.item.name }}</p>
          <p><b>{% get_price i.item %} {{ i.item.price_description }}</b></p>
          <p>{% trans 'Size' %}: {{ i.size.name }}</p>
          <p><b>{{ i.amount }} {% trans 'units' %}</b></p>
          {% if not i.check_avail %}<p class="cc-error">{% trans 'This item is unavailable. You can delete it and checkout.' %}</p>{% endif %}
        </td>
        <td>
          <a class="btn btn-danger cc-cart-remove" href="#" data-id="{{ i.id }}">
            {% trans 'Remove' %}
          </a>
        </td>
      </tr>
    {% endfor %}
  </table>
  <h3>{% trans 'Total' %}: {{ cart.get_total }} {% trans 'UAH' %}</h3>
</div>
