{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div id="aboutus" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="cc-header"><h2>{{ mainpage.title|safe }}</h2></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cs-info">
      <div class="cc-p">
        <p>{{ mainpage.info|safe }}</p>
      </div>
    </div>
  </div>

  <div id="delivery" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cs-item-title">
      <div class="cc-header"><h2>{{ delivery.title|safe }}</h2></div>
    </div>
    {% if delivery.image %}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <img class="img-fluid center-block" crop="center" src="{{ MEDIA_URL}}{{ delivery.image }}">
        </div>
      </div>
    {% endif %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cs-info">
      <div class="cc-p">
        <p>{{ delivery.info|safe }}</p>
      </div>
    </div>
  </div>

  <div id="payment" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cs-item-title">
      <div class="cc-header"><h2>{{ payment.title|safe }}</h2></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cs-info">
      <div class="cc-p">
        <p>{{ payment.info|safe }}</p>
      </div>
    </div>
  </div>

{% endblock %}
