{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block main %}

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {{ about.info|safe }}
    </div>
  </div><!-- /.row -->

{% endblock %}

{% block content %}

  <div class="container">

    <div class="row">
      {% if mainpage.info %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cs-main-text">
          {{ mainpage.info|safe }}
        </div>
      {% endif %}
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            {% for entry in items %}
            <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <a href="/category/{{ entry.id }}/" title="{% trans 'Show details' %}">
                <img data-src="{{ MEDIA_URL }}{{ entry.small_image }}"  alt="Card image cap">
              </a>
              <div class="card-block">
                <h4 class="card-title">{{ entry.name }}</h4>
                <p class="card-text">{{ entry.details }}</p>
              </div>
            </div>
            {% endfor %}

        </div>
    </div>

  </div>

{% endblock %}
