html, body {
    height: 100%;
    overflow-x: hidden;
}
/*
body {
    background-image: url("/static/img/background-image.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
*/


.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

legend {
    border: none;
    font-size: 1.7em;
}

@media (min-width: 1200px) {
.cs-photo-ligth {
    width: 270px;
}
}

@media (min-width: 980px) and (max-width: 1199px) {
.cs-photo-ligth {
    width: 220px;
}
}

@media (min-width: 768px) and (max-width: 979px) {
.cs-photo-ligth {
    width: 166px;
}
}

@media (min-width: 1200px) {
.cs-menu {
    width: 250px;
}
}

@media (min-width: 980px) and (max-width: 1199px) {
.cs-menu {
    width: 200px;
}
}

@media (min-width: 768px) and (max-width: 979px) {
.cs-menu {
    width: 146px;
}
}

@media (min-width: 1200px) {
.cc-logo {
    width: 200px;
}
}

@media (min-width: 980px) and (max-width: 1199px) {
.cc-logo {
    width: 160px;
}
}

@media (min-width: 768px) and (max-width: 979px) {
.cc-logo {
    width: 120px;
}
}

@media (max-width: 767px) {
.cc-logo {
    width: 80px;
}
}

.cc-logo-mini {
     width: 125px;
}

@media (min-width: 1200px) {
.cc-logo-button {
    width: 180px;
}
}

@media (min-width: 980px) and (max-width: 1199px) {
.cc-logo-button {
    width: 140px;
}
}

@media (min-width: 768px) and (max-width: 979px) {
.cc-logo-button {
    width: 100px;
}
}

@media (max-width: 767px) {
.cc-logo-button {
    width: 80px;
}
}


@media (min-width: 1200px) {
.cs-photo-ligth2 {
    width: 570px;
}
}

@media (min-width: 980px) and (max-width: 1199px) {
.cs-photo-ligth2 {
    width: 460px;
}
}

@media (min-width: 768px) and (max-width: 979px) {
.cs-photo-ligth2 {
    width: 352px;
}
}

#map_canvas {
    height: 400px;}


.cc-card {
     margin: 20px;
}

.cs-construction{
  display: block;
  height: auto;
  max-width: 100%;
}

.cs-photo-heavy{
    height: 500px;
}

.cs-bla{
    margin-top: 25px;
}

.cs-photo-simple {
    margin-top: 20px;
}

.cs-message{
    margin-top: 45px;
}

.cs-modal{
    left: 10%;
}

.cs-showcase {
    border-radius: 0 0 0px 0px;
    border: 2px solid #111;
    background-color: #fff;
    text-align: center;
}

.cs-stores {
    text-align: left;
    margin-bottom: 30px;
}

.cs-stores-image {
    text-align: center;
    height: 100px;
}

.cs-stores-home {
    text-align: center;
    height: 200px;
}

.cs-stores-logo {
    height: 50px;
    margin-right: 30px;
}

.cs-showcase-0 {
    border-radius: 0 0 0px 0px;
    border: none;
    background-color: #fff;
}

.alert{
    margin-bottom: 0;
}

.cs-icon-shopping-cart {
    margin-top: 2px;
}

.cs-shopping-cart {
    font-size: 20px;
    margin-top: 10px;
}

/* base.html */
.cc-sn img {
    width: 30px;
}

.cs-info {
    margin-top: 25px;
    margin-bottom: 25px;
}

.cs-info-stores {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.affix-top{
      position: static;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;
      width: auto;
}

.affix,.affix-bottom{
      position: fixed;
      top: 10px;
      width: auto;
}

.fixed-menu {
      display: block;
      width: auto;
      min-height: 0;
}

.cs-fixed-button {
    top: 0;
    position: fixed;
    z-index: 1030;
}

.cs-cart-order {
    border-radius: 0 0 0px 0px;
    border: 2px solid #111;
}

.cs-cart-order-admin {
    border-radius: 0 0 0px 0px;
    border: 2px solid #111;
}

.cs-elephant-name {
    text-align: center;
    text-indent: 0px;
}

.cs-elephant-details {
    text-align: center;
    text-indent: 0px;
}

.cs-elephant-name0 {
    text-align: center;
    color: #999;
}

.cs-elephant-price {
    text-align: right;
}

.cs-elephant-stores {
    text-align: left;
    color: #999;
}

.cs-item-title {
    text-align: center;
}

.cs-info-photo {
    border: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
    margin-top: 10px;
}


.cs-delivery-video{

}

.cs-auto a {
    margin: 0 auto;
    width: 50px;
}

.cs-order-tab-header {
    background-color: #eee;
}

.cs-order-detail {
    border-radius: 0 0 0px 0px;
    border: 2px solid #111;
}

.cs-order-detail-position {
    margin-top: 10px;
}

.cs-order-detail-position-p {
    margin: 10px 10px 10px;
}

.cs-orders-name {
    color: #4A9406;
}

.cs-prepend {
    border-radius: 10px 0px 0px 10px;
}

.cs-append {
    border-radius: 0px 10px 10px 0px;
}

.cs-main-text {
    /*
    border-radius: 15px 15px 15px 15px;
    background-color: #B6E05C;
    */
    text-align: center;
}

.icon-white, .icon-white a {
  color: #fff;
}

.cs-local {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(70%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9) 70%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    padding: 10px;
    position: fixed;
    z-index: 1001;
}

/** new **/

.alert {
    border: 0;
}

.navbar {
    border-radius: 0;
}

.bg-inverse {
    color: #eceeef;
    background-color: #373a3c;
}

.cc-cart-title {
    font-size: 2em;
}

.cc-fas {
    margin-top: 25px;
    margin-bottom: 25px;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

#cc-pics {
    margin-top: -20px;
}

.flex-control-paging {
    margin-bottom: 60px;
}

.cc-styled-h {
    z-index: 1001;
}

.cc-styled-p {
    border: dashed;
    padding: 35px 25px 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -170px;
    padding: 0 0 170px;
}

#footer {
    height: 170px;
}

#footer .first {
    margin-top: 15px;
}

#footer .footer-spacing-first {
    margin-top: 12px;
}

#footer .footer-spacing-second {
    margin-top: 15px;
}

#footer .footer-spacing-third {
    margin-top: 17px;
}

#footer a {
    font-size: 16px;
    line-height: 24px;
}

.cc-contacts {
    margin-left: 33px;
}

.cc-main-menu-color {
    color: rgb(255, 255, 255) !important;
}

.cc-main-menu-color:hover,
.cc-main-menu-color:focus {
    color: rgba(255, 255, 255, 0.75) !important;
}

.cc-product-photo {
    margin-top: 25px;
    margin-bottom: 25px;
}

.cc-navbar-mod-margin {
    margin-bottom: 25px;
}

@media (min-width: 10px) and (max-width: 599px) {
.cc-header {
    background-color: white;
    margin: 0 auto;
    margin-bottom: -50px;
    position: relative;
    z-index: 10;
    text-align: center;
    width: 40%;
}
}

@media (min-width: 600px) and (max-width: 3000px) {
.cc-header {
    background-color: white;
    margin: 0 auto;
    margin-bottom: -50px;
    position: relative;
    z-index: 10;
    text-align: center;
    width: 25%;
}
}


.cc-p {
    border: 1px solid black;
    padding: 25px 50px;
}

.cc-error {
    color: red;
}

#cc-orders-link {
    margin-right: 15px;
}

.cc-table-margin {
    margin-bottom: 15px;
}

#cc-mod-messages {
    margin-bottom: 15px;
}

.cc-mod-filter {
    margin-bottom: 25px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #footer {
      height: 340px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  #footer {
      height: 340px;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  #footer {
      height: 360px;
  }
}
