{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap_pagination %}
{% load elephants %}

{% block title %}{% trans 'gallery of images' %}{% endblock %}
{% block description %}{% trans 'gallery of best images' %}{% endblock %}

{% block content %}

  <div class="row ">
    {% for entry in gallery %}
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3 cc-table-margin">
            <!--a href="{% url 'gallery_photo' entry.id %}" title="{% trans 'Show photo' %}"-->
            <a class="cc-gallery-link" href="#" data-id="{{ entry.id }}" data-toggle="modal" data-target="#cc-gallery-modal">
                <img class="img-responsive img-circle" title="{{ entry.name }}" src="{{ MEDIA_URL }}{{ entry.image_small }}">
            </a>
            <!--
            <h2 class="text-center">{{ entry.name }}</h2>
            <p class="text-center">{{ entry.description|safe }}</p>
            -->
      </div>
    {% endfor %}
  </div>

  <div id="cc-gallery-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans 'Foto' %}</h4>
          </div>
          <div class="modal-body">
             <div id="cc-gallery-content"></div>
          </div>
          <div class="modal-footer">
            <div id="cc-gallery-buy"></div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


{% endblock %}
