{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ STATIC_URL }}img/cc-logo-mini.png">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-editable.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery-ui.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-slider.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/icons.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?105"></script>

    <script type="text/javascript">
      VK.init({apiId: 4061964, onlyWidgets: true});
    </script>
    -->

    <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  </head>

  <body>
    <div id="wrap">
      {% include 'navbar.html' %}

      {% if messages %}
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="container">
             {% for message in messages %}
               <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                 <button type="button" class="close" data-dismiss="alert">×</button>
                 {{ message }}
               </div>
             {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      {% if maintitle %}
        {% include 'carousel.html' %}
      {% endif %}

      <div class="container">
        {% block content %}{% endblock %}
      </div> <!--- container --->
    </div>

    {% include 'footer.html' %}

    <div id="cc-cart-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans 'Cart' %}</h4>
          </div>
          <div class="modal-body">
             <div id="cc-cart-content"></div>
          </div>
          <div class="modal-footer">
            <a id="cc-cart-cancel" class="btn btn-default" href="#" data-dismiss="modal">{% trans 'Close' %}</a>
            <a id="cc-cart-checkout" class="btn btn-success btn-success" href="#">{% trans 'Checkout' %}</a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ STATIC_URL }}js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    {% block script %}{% endblock %}
      <script src="{{ STATIC_URL }}js/script.js"></script>
    {% if not debug %}
      <script>

          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46597923-1', 'catcult.club');
          ga('send', 'pageview');

      </script>

    {% endif %}

  </body>

</html>
