{% load i18n %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="cc-pics">
      <div class="overlay">
        <div class="container">
          <p></p>
          <div class="hidden-xs">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <img class="cc-logo center-block" crop="centre" src="{{ STATIC_URL }}img/3kota.png">
            </div>
          </div>
          <img class="img-responsive cc-logo-slogan " src="{{ STATIC_URL }}img/slogan.png">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <a href="{% url 'showcase' %}">
              <img class="cc-logo-button center-block" crop="centre" src="{{ STATIC_URL }}img/showcase.png" data-hover-src="{{ STATIC_URL }}img/showcase_hover.png">
            </a>
          </div>
        </div>
      </div>
      <ul class="slides">
        {% for entry in carousel %}
          <li><img class="img-responsive" src="{{ MEDIA_URL}}{{ entry.image }}"></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div> <!--- row --->
