{% load i18n %}
{% load elephants %}
<nav class="navbar navbar-inverse bg-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img class="cc-logo-mini" src="{{ STATIC_URL }}img/cc-logo-w.png" class="img-circle">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% get_categories %}
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="cc-main-menu-color" href="{% url 'feedback' %}" title="{% trans 'Feedback' %}">
          {% trans 'Feedback' %}
        </a></li>

        <li class="cc-nav-lang">
          <select class="form-control" id="cc-language">
            <option {% if LANGUAGE_CODE == "en" %} selected {% endif %} value="en" title="English">Eng</option>
            <option {% if LANGUAGE_CODE == "ru" %} selected {% endif %} value="ru" title="Русский">Рус</option>
            <!-- <option {% if LANGUAGE_CODE == "uk" %} selected {% endif %} value="uk" title="Українська">Укр</option> -->
          </select>
        </li>

      </ul>

      <ul>
        {% if request.user.is_authenticated %}
          <li class="nav-item"><a class="cc-main-menu-color" href="{% url 'main_page' %}" title="{% trans 'Mod' %}">
            {% trans 'Mod' %}
          </a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.cart_amount %}
          <li class="nav-item">
            <a id="cc-cart-link" class="cc-main-menu-color" href="#" data-toggle="modal" data-target="#cc-cart-modal">
              <b><span class="icon-cart cs-icon-shopping-cart"></span> | </b><span id="cc-cart-total">{{ request.cart_amount }}</span>
            </a>
          </li>
        {% else %}
        <li class="nav-item cc-nav-cart">
            <b><span class="icon-cart cs-icon-shopping-cart"></span> | </b>{% trans 'Empty' %}
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
