{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{ topic.title }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cs-item-title">
      <h2>{{ topic.title }}</h2>
    </div>
  </div>

  {% if topic.video %}
      <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 cs-item-title">
          {{ topic.video|safe }}
        </div>
      </div>
  {% endif %}

  {% if topic.image %}
      <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          <div class="thumbnail cs-info-photo">
            <img src="{{ MEDIA_URL}}{{ topic.image }}">
          </div>
        </div>
      </div>
  {% endif %}

  <div class="row cs-info">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      {{ topic.info|safe }}
    </div>
  </div>

  {% if stores %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% for entry in items %}
          <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-4 cc-card">
            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ entry.small_image }}"  alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{ entry.name }}</h4>
              <p class="card-text">{{ entry.details }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

{% endblock %}
