{% extends 'base_mod.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  {% trans 'Orders' %}
{% endblock %}

{% block content %}

  <div class="row cc-mod-filter">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <form class="form-inline">
        <div class="form-group">
          <label for="cc-date-from">{% trans 'Date from' %}</label>
          <input type="text" class="form-control" id="cc-date-from" value="{{ date_from }}">
        </div>
        <div class="form-group">
          <label for="cc-date-to">{% trans 'Date to' %}</label>
          <input type="text" class="form-control" id="cc-date-to" value="{{ date_to }}">
        </div>
        <div class="form-group">
          <select name="status" id="cc-status-cb">
            {% for stat in status %}
              <option value={{ stat.val }}>{{ stat.name }}</option>
            {% endfor %}
          </select>
        </div>
        <!--<div class="form-group">-->
          <!--<input type="checkbox" name="cc-arrival-cb" value="1" id="cc-arrival-cb" checked>{% trans 'Arrival' %}-->
        <!--</div>-->
        <a href="#" id="cc-iwant-filter" class="btn btn-default">{% trans 'Filter' %}</a>
      </form>
    </div>
  </div>

  <div class="row cc-table-margin">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <table id="cs-balances" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>{% trans 'Added' %}</th>
            <th>{% trans 'Item' %}</th>
            <th>{% trans 'Customer' %}</th>
            <th>{% trans 'Action' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for order in iwant %}
            <tr id="cc-order-{{ order.id }}">
              <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <b>{{ order.added }}</b><br/>
              </td>
              <td class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><img class="img-circle" src="/media/{{ order.item.image_small }}" width="100px" /></div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ order.item.name }}<br />
                {% trans 'Status:' %} {{ order.get_status_display }}</div>
              </td>
              <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                {{ order.name }} {{ order.phone }} {{ order.email }}
              </td>
              <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                  <div class="form-group">
                      <select name="status" id="cc-iwant-status-{{ order.id }}">
                          {% for stat in status %}
                              {% if stat.val > 0 %}
                                <option value={{ stat.val }}>{{ stat.name }}</option>
                              {% endif %}
                          {% endfor %}
                      </select>
                  </div>
                  <button class="btn cc-iwant-change" data-order-id="{{ order.id }}">{% trans 'Change' %}</button>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td>{% trans 'Added' %}</td>
            <td>{% trans 'Item' %}</td>
            <td>{% trans 'Customer' %}</td>
            <td>{% trans 'Action' %}</td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>

  <div id="cc-order-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <a id="cc-orderinfo-cancel" class="btn btn-default" href="#" data-dismiss="modal">{% trans 'Close' %}</a>
          <span id="cc-order-buttons">
	  </span>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}
