{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load elephants %}

{% block title %}
  {{ item.name }}
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <h1>{{ item.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cc-zoom">
          <div class="row">
            <img class="img-responsive img-rounded" src="{{ MEDIA_URL }}{{ item.image }}" data-zoom-image="{{ MEDIA_URL }}{{ item.image }}"/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="cc-product-photos">
            <div class="row">
              <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                <div class="cc-product-photo">
                  <a class="cc-product-active-photo" href="#" data-image="{{ MEDIA_URL }}{{ item.image }}" data-zoom-image="{{ MEDIA_URL }}{{ item.image }}">
                    <img class="img-responsive img-circle" src="{{ MEDIA_URL }}{{ item.image_small }}">
                  </a>
                </div>
              </div>
              {% for entry in photos %}
                <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                  <div class="cc-product-photo">
                    <a href="#" data-image="{{ MEDIA_URL }}{{ entry.image }}" data-zoom-image="{{ MEDIA_URL }}{{ entry.image }}">
                      <img class="img-responsive img-circle" src="{{ MEDIA_URL }}{{ entry.image_small }}">
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>

    {% if item.get_amount  %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cs-info">
        <h3>{% get_price item request %} {% get_price_description request %}</h3>
        <p>{{ item.details|safe }}</p>
        {% if form %}
          {% crispy form form.helper %}
        {% else %}
          {% trans 'Sorry, product is currently unavailable' %}
        {% endif %}
      </div>
    {% else %}
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 cs-info">
        <h4><p class="text-center">{% trans 'Sorry, this item in unavailable now.' %}</p></h4>
        <p>{{ item.details|safe }}</p>
      </div>
    {% endif %}

  </div>
{% endblock %}
