{% load i18n %}
<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ STATIC_URL }}img/cc-logo-mini.png">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/icons.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% include 'navbar_mod.html' %}
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div id="cc-mod-messages">
            {% for message in messages %}
              <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      {% block content %}{% endblock %}

    </div> <!--- container --->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/datatables.min.js"></script>
    <script src="{{ STATIC_URL }}js/moment-with-locales.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
    {% block script %}{% endblock %}
    <script src="{{ STATIC_URL }}js/script_mod.js?id=11042020"></script>

  </body>

</html>
