{% load i18n %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="cc-pics">
      <div class="overlay">
        <div class="container">
          <p></p>
          <div class="hidden-xs">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <img class="cc-logo center-block" crop="centre" src="{{ STATIC_URL }}img/3kota.png">
            </div>
          </div>
          {% if LANGUAGE_CODE == "en" %}
            <img class="img-responsive cc-logo-slogan " src="{{ STATIC_URL }}img/slogan_en.png">
          {% elif LANGUAGE_CODE == "uk" %}
            <img class="img-responsive cc-logo-slogan " src="{{ STATIC_URL }}img/slogan_uk.png">
          {% else %}
            <img class="img-responsive cc-logo-slogan " src="{{ STATIC_URL }}img/slogan.png">
          {% endif %}
          <div class="col-sm-12 col-md-12 col-lg-12">
            {% if LANGUAGE_CODE == "en" %}
              <a href="{% url 'main_page' %}">
                <img class="cc-logo-button center-block" crop="centre" src="{{ STATIC_URL }}img/showcase_en.png" data-hover-src="{{ STATIC_URL }}img/showcase_en_hover.png">
              </a>
            {% elif LANGUAGE_CODE == "uk" %}
              <a href="{% url 'main_page' %}">
                <img class="cc-logo-button center-block" crop="centre" src="{{ STATIC_URL }}img/showcase_uk.png" data-hover-src="{{ STATIC_URL }}img/showcase_uk_hover.png">
              </a>
            {% else %}
              <a href="{% url 'main_page' %}">
                <img class="cc-logo-button center-block" crop="centre" src="{{ STATIC_URL }}img/showcase.png" data-hover-src="{{ STATIC_URL }}img/showcase_hover.png">
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      <ul class="slides">
        {% for entry in carousel %}
          <li><img class="img-responsive" src="{{ MEDIA_URL}}{{ entry.image }}"></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div> <!--- row --->
