{% load i18n %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="cc-pics">
      <div class="overlay">
        <div class="container">

          <div class="cc-3-cats hidden-xs">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <img class="cc-logo center-block" crop="centre" src="{{ STATIC_URL }}img/3kota.png">
            </div>
          </div>

          <div class="col-sm-12 col-md-12 col-lg-12 cc-cult-text">
            {% if LANGUAGE_CODE == "en" %}
              <img class="img-responsive cc-logo-slogan " src="{{ STATIC_URL }}img/slogan_en.png">
            {% elif LANGUAGE_CODE == "uk" %}
              <img class="img-responsive cc-logo-slogan " src="{{ STATIC_URL }}img/slogan_uk.png">
            {% else %}
              <img class="img-responsive cc-logo-slogan " src="{{ STATIC_URL }}img/slogan.png">
            {% endif %}
          </div>

        </div>
      </div>
      <ul class="slides">
        {% for entry in carousel %}
          <li><img class="img-responsive" src="{{ MEDIA_URL}}{{ entry.image }}"></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div> <!--- row --->
