{% load i18n %}
<div id="footer" class="bg-inverse">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p class="first"><a class="nav-link cc-contacts cc-main-menu-color" href="{% url 'contacts' %}" title="{% trans 'Contacts' %}">
              {% trans 'Contacts' %}
            </a></p>
            <p><a class="nav-link cc-sn cc-main-menu-color" href="https://www.facebook.com/catcult.club" target="_blank">
              <img src="{{ STATIC_URL }}img/facebook-icon-w.png"> https://www.facebook.com/catcult.club
            </a></p>
             <p><a  class="nav-link cc-sn cc-main-menu-color" href="https://www.instagram.com/catcult.club" target="_blank">
              <img src="{{ STATIC_URL }}img/instagram-icon-w.png"> https://www.instagram.com/catcult.club
            </a></p>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <p class="first"><a class="nav-link cc-main-menu-color" href="{% url 'main_info' %}#aboutus" title="{% trans 'About us' %}">
              {% trans 'About us' %}
            </a></p>
            <p class="footer-spacing-first"><a class="nav-link cc-main-menu-color" href="{% url 'feedback' %}" title="{% trans 'Feedback' %}">
              {% trans 'Feedback' %}
            </a></p>
            <p class="footer-spacing-first"><a class="nav-link cc-main-menu-color" href="{% url 'main_info' %}#delivery" title="{% trans 'Delivery' %}">
              {% trans 'Delivery' %}
            </a></p>
          </div>

          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <p class="footer-spacing-second"><a class="nav-link cc-main-menu-color" href="{% url 'main_info' %}#payment" title="{% trans 'How to Pay' %}">
              {% trans 'Payment' %}
            </a></p>
            <p class="first"><a class="nav-link cc-main-menu-color" href="{% url 'stocks' %}" title="{% trans 'Discounts and promotions' %}">
              {% trans 'Discounts and promotions' %}
            </a></p>
          </div>

        </div>
      </div> <!--- container --->
    </div>
  </div>
</div>
