{% load i18n %}
{% load crispy_forms_tags %}
<div>
  {% crispy form form.helper %}

<!--  {% get_language_info for LANGUAGE_CODE as lang %}-->
<!--  Language code: {{ lang.code }}<br>-->
<!--  Name of language: {{ lang.name_local }}<br>-->
<!--  Name in English: {{ lang.name }}<br>-->
<!--  Bi-directional: {{ lang.bidi }}<br>-->
<!--  Name in the active language: {{ lang.name_translated }}<br>-->


</div>
{% comment %}
{# LiqPay form place, fills via AJAX request #}
<div id="payment-form"></div>
{% endcomment %}

{% block css %}{{ form.media.css }}{% endblock %}
{% block script %}{{ form.media.js }}{% endblock %}
